<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; font-family: cursive; background-color: pink; border-radius: 6px">
  <h1>
    Welcome to the {{ title }}!
  </h1>
  <meu-primeiro-component></meu-primeiro-component>
  <app-meu-primeiro2></app-meu-primeiro2>

</div>
<div style="font-family: cursive; background-color: wheat; border-radius: 6px">
<h2>Here are some links to my social media: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/rachel-sim%C3%B5es-b5860966/">Linkedin</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/rachelsimoes">GitHub</a></h2>
  </li>
</ul>
</div>
